a.current-menu-item  {
    text-decoration: none;
    color: #c2572b !important;
}

.mobile-only{
    display: none;
}

.logo-middle{
    margin-right: 15px;
    margin-left: 15px;
}


.logo-wrapper {
    width: 100px;
    height: 100px;
    position: relative;
    display: block;
    margin: 0 auto;
  }
  
  .hvr-wobble-vertical img {
    width: 100%;
    min-width: 120px;
    margin: 0 auto;
    position: absolute;
    margin: auto;
    top: 34px;
    left: -24px;
    right: 0;
    bottom: 0;
  }
  
  span .hvr-wobble-vertical {
    cursor: pointer;
    width: 100%;
    height: 100%;
    display: block;
  }
  
  @keyframes hvr-wobble-vertical {
    16.65% {
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px);
    }
    33.3% {
      -webkit-transform: translateY(6px);
      transform: translateY(6px);
    }
    49.95% {
      -webkit-transform: translateY(-4px);
      transform: translateY(-4px);
    }
    66.6% {
      -webkit-transform: translateY(2px);
      transform: translateY(2px);
    }
    83.25% {
      -webkit-transform: translateY(-1px);
      transform: translateY(-1px);
    }
    100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  }
  
  .hvr-wobble-vertical {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .hvr-wobble-vertical:hover,
  .hvr-wobble-vertical:focus,
  .hvr-wobble-vertical:active {
    -webkit-animation-name: hvr-wobble-vertical;
    animation-name: hvr-wobble-vertical;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
  }





@media (max-width: 991px) {
    .mobile-only{
        display:  block;
    }
}