.hero-1 .slick-prev {
    left: 25px;
    z-index: 1;
}

.hero-1 .slick-next {
    right: 25px;
    z-index: 1;
}

.hero-1 .slick-next,
.hero-1 .slick-prev,
.hero-1 .slick-prev:focus,
.hero-1 .slick-prev:hover,
.hero-1 .slick-next:hover,
.hero-1 .slick-next:focus {
    z-index: 1;
    background: rgba(255, 255, 255, 0.3);
    width: 45px;
    height: 45px;
    line-height: 45px;
    margin-top: -30px;
    text-align: center;
    border-radius: 45px;
    transition: all 0.3s cubic-bezier(0.7, 0, 0.3, 1);
}


.hero-1 .slick-prev:hover,
.hero-1 .slick-next:hover {
    opacity: 0.6;
    background: #1a1921;
    border: #1a1921;
}

.product:focus,
.product:active,
.swiper-slide img:focus,
.swiper-slide img:active,
.swiper-slide:focus,
.swiper-slide:active,
img:focus,
img:active {
    border: 0;
    outline: 0;
}

.slick-prev:hover::before {
    color: #fff;
}

.slick-prev:before {
    content: '‹';
    color: #000;
    position: absolute;
    top: 5px;
    left: 16px;
    font-size: 25px;
}

.slick-next:before {
    content: '›';
    color: #000;
    position: absolute;
    top: 5px;
    right: 16px;
    font-size: 25px;
}


.slick-next:hover::before {
    color: #fff;
}

.hero-1 .slide-inner {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
}

.hero-1 .swiper-slide {
    height: calc(100vh - 152px);
    min-height: 600px;
}


.hero-1 .slide-text {
    position: absolute;
    left: 10px;
    top: 110px;
    padding-top: 10px;
    
}

.hero-1 .slide-title {
    max-width: 540px;
}

.hero-1 .slide-inner.slide-bg-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.hero-1 .slide-text:before {
    background: #fff;
    content: "";
    width: 1px;
    height: 60px;
    position: absolute;
    left: 50%;
    top: -80px;
}

.hero-1 .container-1410 {
    position: relative;
    padding-left: 80px;
}

.hero-1 .slide-title {
    max-width: 540px;
}

.hero-1 h2 {
    font-size: 120px;
    font-size: 8rem;
    color: #fff;
    margin: 0 0 0.57em;
}


.hero-1 p {
    font-family: "futura-pt-demi", sans-serif;
    font-size: 22px;
    font-size: 1.4666666667rem;
    color: #fff;
    margin: 0;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    letter-spacing: 8px;
}


.hero-1 h2 span {
    font-weight: 200;
}

.hero-1 .slick-dots {
    display: none !important;
    bottom: 25px;
}

.hero-1 .slick-dots li {
    margin: 0 2px;
}

.hero-1 .slick-dots li.slick-active button:before {
    color: #fff;
}

.hero-1 .slick-dots li button:before {
    font-size: 16px;
}



.featured-proeducts-section-s2 {
    padding-bottom: 100px;
}

.feature-section.home-feature-section {
    margin-top: -10px;
}

.cta-section .content-area {
    padding-bottom: 10px;
}

.section-padding.best-seller-section {
    padding-bottom: 70px;
}

.featured-proeducts-section-s3 {
    margin-bottom: -15px;
}

.feautured-product-s4-section {
    padding-bottom: 120px;
}

.input-range__label-container {
    background: #333333;
    color: #fff;
    display: inline-block;
    border-radius: 50%;
    font-size: 0;
    padding: 5px;
}

.input-range__label.input-range__label--max,
.input-range__label.input-range__label--min {
    visibility: hidden;
}

.input-range__label.input-range__label--value {
    cursor: pointer;
}

.input-range__track.input-range__track--background {
    margin-bottom: -8px;
}

@media (max-width: 991px) {
    .hero-1 h2 {
        font-size: 75px;
        font-size: 5rem;
    }

    .hero-1 .slick-dots {
        display: block !important;
    }

    .hero-1 .slick-arrow {
        display: none !important;
    }


    @media (max-width: 767px) {
        .hero-1 .swiper-slide {
            height: 400px;
        }

        .hero-1 .container-1410 {
            width: 100%;
            word-break: break-word;
            padding-left: 15px;
        }

        .hero-1 .slide-text {
            position: static;
        }

        .hero-1 p {
            writing-mode: horizontal-tb;
        }

        .hero-1 h2 {
            font-size: 55px;
            font-size: 3.6666666667rem;
        }


        .hero-1 .slide-text:before {
            display: none;
        }
    }

    @media (max-width: 550px) {
        .hero-1 h2 {
            font-size: 50px;
            font-size: 3.3333333333rem;
        }
    }

}